#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-size: 24px !important;
}

#app * {
    font-size: 24px !important;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Courier New', monospace;
    font-size: 24px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    white-space: pre;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    top: calc(100vh - 24px);
    width: 100%;
    text-align: center;
}
